<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= current_page.data.title || "Software development by Mark Brown. JavaScript and Ruby" %></title>
<meta name="description" content="<%= strip_tags(intro current_article).gsub "\n", "" %>">
<link href="/journal/feed.xml" type="application/atom+xml" rel="alternate" title="Journal feed">
<%= favicon_tag 'favicon.ico' %>
<%= stylesheet_link_tag "application" %>
<body class"<%= page_classes %>">
<div id="wrap">
  <%= link_to image_tag('boot.png', id: 'boot', width: 35, height: 50), '/' %>
  <h1>Mark Brown</h1>
  <%= partial 'nav' %>
  <div id="main">
    <div id="content">
      <h1><%= current_article.title %></h1>
      <p><time><%= current_article.date.strftime('%b %d, %Y') %></time></p>
      <div class="intro"><%= intro current_article %></div>
      <%= body current_article %>
      <% if current_article.article_previous %>
        <p class="pagination">
          <%= link_to "&larr; #{current_article.article_previous.title} ", current_article.article_previous, class: 'prev' %>
        </p>
      <% end %>
    </div>
    <%= partial 'journal/sidebar' %>
  </div>
</div>
<%= javascript_include_tag "prism" %>
</body>
</html>
