<!doctype html>
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %title= current_page.data.title || "Software development by Mark Brown. JavaScript and Ruby"
    %meta{ name: "description", content: current_page.data.description || "Software development by Mark Brown. JavaScript and Ruby" }
    = favicon_tag 'favicon.ico'
    = stylesheet_link_tag "application", media: 'all'
    :plain
      <style media="print">
      body {
        background: #fff;
      }
      #page {
        margin: 0 auto;
        padding: 30px;
        max-width: 100%;
        box-shadow: none;
      }
      #nav {
        display: none;
      }
      </style>
  %body{ class: page_classes }
    #page
      = link_to image_tag('me.jpg', id: 'face'), '/'
      %h1 Mark Brown
      = partial 'nav'
      %p Melbourne, Australia

      .main
        = yield
