<!doctype html>
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %title= current_page.data.title || "Front end web development by Mark Brown. HTML, CSS &amp; JavaScript"
    %meta{ name: "description", content: current_page.data.description || "Front end web development by Mark Brown. HTML, CSS &amp; JavaScript" }
    = favicon_tag 'favicon.ico'
    = stylesheet_link_tag "application"
  %body{ class: page_classes }
    #page
      = link_to image_tag('me.jpg', id: 'face'), '/'
      %h1 Mark Brown
      = partial 'nav'
      %p Melbourne, Australia

      #main
        = yield
