---
title: Grow your own food
tags: Gardening
---

Growing my own vegetables and herbs is one of the most rewarding things I do.
The first year I got serious in the garden I grew 30 varieties of tomatoes. From sowing to harvest through to seed collection these plants make me happy.

I've learned a lot about the natural world and have been able to enjoy a great variety of healthy, delicious and free food all year round.  Here's a few tips to encourage you to give it a try.  Plants want to grow, anyone can do it.

READMORE

## Time

Just before Spring is the perfect time to be preparing for the productive growing season and thinking about what you want to grow.  In Melbourne, August and September are the ideal time to sow many of my favourite crops — Tomato, Basil, Lettuce, Capsicum, Chilli, Carrots, Cucumber, Zucchini, Pumpkin, Potato, Beetroot and Melons.

See a [Planting guide](https://localfoodconnect.org.au/community-gardening/planting-guide/) for what's ready to plant now.
It can help you plan ahead so that your garden is always full, even during winter.

## Variety

One of the very best things about growing your own food is that you can enjoy a much greater variety than you can find in shops.  Broadly speaking, the varieties you find in shops are ones that were selectively chosen year after year that were resistant to pest and disease, uniform in shape and size and looked great on the shelf making them easy to sell.  Nothing in there about taste or variety.  Choose vegetables and herbs you enjoy eating most and are suitable to your available space.  Look up tasting notes and try growing a variety you haven't tasted before.

<div class="frame">
  <%= image_tag 'journal/gardening/variety1.jpg' %>
</div>

## Space

Draw up an outline of the available space you have.  Plants can get surprisingly large so watch videos on how different plants grow.  Giving enough space between plants will help them grow large and stay healthy, however some things grow very well in small clumps(things like onions, leeks, beetroot, peas, radish).

Pots are always an option if you don't have space on the ground.  With stakes you can grow things like tomatoes and cucumber vertically and produce a lot of food in a small space.

## Seedlings

I first started by buying seedlings from a [local organic nursery](https://peacefarm.com.au/organic-heirlooms-nursery/).  It's the easiest and quickest way to begin with healthy sturdy plants ready to go into the ground.

<div class="frame">
  <%= image_tag 'journal/gardening/plants1.jpg' %>
</div>

Only root vegetables like carrots with a long tap root or potatoes need to be sown directly into the ground.  Most other plants will grow very well being planted in trays indoors first and then transplanted into the garden once they've reached a good size.  You can better control the temperature, water and light and keep them away from pests while they're most vulnerable.

[Eden Seeds](https://www.edenseeds.com.au/) and [Diggers](https://www.diggers.com.au/) have a great range of quality heirloom seed.

## Soil

You can learn what healthy soil looks like by observing a forest floor.  As plant and animal life die they fall on top of the ground, decompose and break down into food for fungi, insects and micro organisms. The top soil is kept covered with leaves, branches and plants - a mulch that preserves moisture in the soil and sustains the life beneath the surface.

Putting 1-2 inches of compost on the top of your soil once a year is all you need to do to feed the soil and act as a mulch.  You can add organic fertilisers to feed plants directly but that's not required.  Feeding the soil with compost will grow healthy soil and in turn grow healthy plants.

[Charles Dowding - No dig explained in 3 minutes](https://www.youtube.com/watch?v=VJhGIrqKs1k)

Home made compost is the best thing for your garden, it's free and it saves waste from going to landfill too.
Hot composting is the fastest method but you do need a fair amount of material(1m cube) to generate enough heat for it to work properly.  It will still turn into compost eventually with less, it'll just take longer.

Simply pile up a 50/50 mix of greens(grass, kitchen scraps, coffee grounds) to browns(dry leaves, wood chips, cardboard) into a big heap in thin layers and wait.
Turning the pile will speed up the process but isn't required.

<div class="frame">
  <%= image_tag 'journal/gardening/soil1.jpg' %>
</div>

## Sun

Most plants grow best in full direct sun, leafy greens and herbs are the exceptions that can grow well with less.

## Water

2-3 times a week should be enough for most plants.  You want to keep on top of the watering in the early stages of growth and then you can taper off and water less. Overwatering can lead to less flavourful fruit and delayed harvest.
Water around the base of the plants where possible, watering leaves can encourage fungal  diseases.

## Pests

Keep an eye on the garden and watch what's happening.  When you're watering look out for signs of damage or larvae.  In an organic garden you should expect to suffer some losses to pests or disease but you shouldn't ever need to use any pesticides.

- Netting and covers for birds.
- Picking off slugs and caterpillars by hand.
- Using a dish soap spray for flying insects like aphids.
- Prune lower leaves when they start to yellow, it will remove food for pests.

## Harvest

Pick early and often.  You can harvest at any time, you don't need to wait for things to reach their full size.  Lots of plants give a continual harvest, you don't need to pull up the whole plant to enjoy. Lettuces for example, you can pick the lower leaves every few days and it will keep growing.  Broccoli will send up side shoots after the main head which you can keep regularly harvesting.

<div class="frame">
  <%= image_tag 'journal/gardening/harvest4.jpg' %>
  <%= image_tag 'journal/gardening/harvest3.jpg' %>
</div>

Jar and preserve what you can, we've done this with tomatoes for the last two years and haven't needed to buy any canned tomatoes throughout the year.

<div class="frame">
  <%= image_tag 'journal/gardening/preserve4.jpg' %>
  <%= image_tag 'journal/gardening/preserve1.jpg' %>
  <%= image_tag 'journal/gardening/preserve2.jpg' %>
  <%= image_tag 'journal/gardening/preserve3.jpg' %>
</div>

## Seed saving

I've found saving seed very rewarding.  It's free, fun and your garden can become self sustaining by keeping your own favourite varieties alive.  You simply leave the plant in the ground and the seed will be ready to collect with it's completely brown and dry.

Large dry seeds like beans, peas, pumpkin are easiest to save.  Just leave them on a bench to completely dry out before storing otherwise they will grow mould and spoil.

Wet seeds like tomatoes and cucumbers have a jelly coating which inhibits growth until the season is right.  You can dissolve the jelly by leaving in water for a few days, giving it a stir once a while and rinsing under a tap.  Then leave on the bench for a few days to completely dry out.

Lighter seeds like lettuce or basil or brassica's you can rub between your hands to free the seed from their husks and then use the winnowing technique to blow away the lighter material.

<div class="frame">
  <%= image_tag 'journal/gardening/seed1.jpg' %>
  <%= image_tag 'journal/gardening/seed3.jpg' %>
</div>
