

.intro
  %p
    I have received huge amounts of help on forums and at meetups over the years so I do try and give back by sharing what I know.
    You can find me at JavaScript related meetups in Melbourne and I do some writing for Sitepoint also.


%h2 Talks
%ul
  %li
    %p
      = link_to 'Working off the Main Thread', 'http://markbrown4.github.io/presentation-web-workers/'
      %time February 10, 2016
      = link_to '@MelbJS', 'https://twitter.com/MelbJS'
    %p
      Exploring Henrik Joreteg's
      = link_to 'feather-app', 'https://github.com/HenrikJoreteg/feather-app'
      and how to use WebWorkers to make great apps for mobile
  %li
    %p
      = link_to 'A Eulogy for Coffeescript', 'http://markbrown4.github.io/presentation-coffee'
      %time Aug 12, 2016
      = link_to '@MelbJS', 'https://twitter.com/MelbJS'
    %p Things that I'll miss in the CoffeeScript to ES6 transition
  %li
    %p
      = link_to 'React at yourgrocer.com.au', 'http://markbrown4.github.io/presentation-yg/'
      %time July 28, 2015
      = link_to '@ReactMelb', 'https://twitter.com/ReactMelb'
    %p
      Implementing React in an existing web app, roll your own flux implementation, testing

%h2 Writing
%p
  I enjoy writing content for the
  = link_to 'JavaScript channel', 'https://www.sitepoint.com/author/mbrown/'
  over at Sitepoint and most days you'll find me posting in the
  = link_to 'JavaScript forum', 'https://www.sitepoint.com/community/c/javascript'
  too.
