

.intro
  %p
    I enjoy sharing at local meetups in Melbourne,
    it gives me a chance to practice public speaking and to share what I know with my peers.
    It's also a great way to keep learning and to stay up to date with changes in the community.

%ul
  %li
    %p
      = link_to 'Working off the Main Thread', 'http://markbrown4.github.io/presentation-web-workers/'
      %time February 10, 2016
      = link_to '@MelbJS', 'https://twitter.com/MelbJS'
    %p
      Exploring Henrik Joreteg's
      = link_to 'feather-app', 'https://github.com/HenrikJoreteg/feather-app'
      and how to use WebWorkers to make great apps for mobile
  %li
    %p
      = link_to 'A Eulogy for Coffeescript', 'http://markbrown4.github.io/presentation-coffee'
      %time Aug 12, 2016
      = link_to '@MelbJS', 'https://twitter.com/MelbJS'
    %p Things that I'll miss in the CoffeeScript to ES6 transition
  %li
    %p
      = link_to 'React at yourgrocer.com.au', 'http://markbrown4.github.io/presentation-yg/'
      %time July 28, 2015
      = link_to '@ReactMelb', 'https://twitter.com/ReactMelb'
    %p
      Implementing React in an existing web app, roll your own flux implementation, testing
